@charset "utf-8";
/*=============================================
      index用css divパズル Lv.0
=============================================*/

.header, 
.footer{
	height: 100px;
	width: 400px;
}

.header{
	background-color: #141f40;
}

.footer{
	background-color: #d98d30;
}

.left{
	width: 150px;
	height: 250px;
	background-color: #80bfa8;
}

.center1,
.center2{
	width: 150px;
}

.center1{
	height: 50px;
	background-color: #dbd400;
}

.center2{
	height: 100px;
	background-color: #0093b7;
}

.center-right{
	width: 100px;
	height: 150px;
	background-color: #ff9e6b;
}

.right{
	width: 250px;
	height: 100px;
	background-color: #8c2727;
}

/*.main{*/
/*	display: flex;*/
/*}*/

.right-parts{
	display: flex;
}

.object1{
	display: block;
}

.right-block{
	display: block;
}

.right-object{
	display: flex;
}

.wrapper{
	margin: 0 auto;
	width: 400px;
}
