body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
    color: #333;
    max-width: 1200px;
}

button {
    border: 1px solid #999;
    background-color: #fff;
    padding: 5px 10px;
    margin: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #eee;
}

/* 質問、回答用のボックス */
.box {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    line-break: anywhere;
    hanging-punctuation: none;
}


.answer {
    margin-left: 0px;
}

p {
    margin: 5px 0;
}

small {
    color: #666;
    font-size: 0.9em;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #333;
    text-decoration: none;
}

form {
    width: 100%;
}

/* 左右に分ける */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* 左側 */
.left-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.left-box {
    flex-direction: column;
}

/* 右側 */
.right-area {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.right-area form {
    display: inline-block;
    margin: 0;
}

/* 回答ページのテキストエリア */
textarea {
    width: 400px;
    height: 200px;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    line-break: anywhere;
    hanging-punctuation: none;
}

.err {
    color: #ff0000;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    word-break: break-all;
}

/* 回答の返信 */
.single {
    height: 1.5rem;
    resize: none;
}

.reply {
    color: #666;
    margin-top: 30px;
}

.reply-delete {
    margin-bottom: 20px;
}