# kawamitsu
kawamitsu <intecs.2509ap.02@gmail.com> 川満　達也 <intecs.2509ap.02@gmail.com>

# inomoto
inomoto <u-cp-love@i.softbank.jp> inomooooto <u-cp-love@i.softbank.jp>
inomoto <u-cp-love@i.softbank.jp> Inomooooto <mail-caps@example.com>

# ida
ida <intecs.2509ap.01@gmail.com> 飯田一心 <intecs.2509ap.01@gmail.com>
ida <intecs.2509ap.01@gmail.com> idaten <intecs.2509ap.01@gmail.com>

# ishizaka
ishizaka <intecs.2509ap.12@gmail.com> michihiro_intecs <intecs.2509ap.12@gmail.com>
ishizaka <intecs.2509ap.12@gmail.com> Ishizaka <intecs.2509ap.12@gmail.com>

# yamazaki
yamazaki <intecs.2509ap.11@gmail.com>

# tanida
tanida <intecs.2509ap.09@gmail.com>
